{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}"/>

    <!--===============================================================================================-->
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">TaskManager</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/tasks" class="nav-link">Завдання</a>
            </li>
            <li class="nav-item">
                <a href="/add-task" class="nav-link">Додати завдання</a>
            </li>
        </ul>
    </div>
</nav>


{% block content %}
{% endblock %}

<footer>
    <p>&copy; 2024 My To-Do List App by <a href="https://github.com/playtlancher">playtlancher</a></p>
</footer>



</body>
</html>