{% extends 'tasks/layout.html' %}
{% block title %}
{{ task.name }}
{% endblock %}
{% block content %}
<div class="page-container">
    <div class="page-center mt-5">
        <div class="task-details-container">
            <h1 class="task-title">{{ task.name }}</h1>
            <p class="lead task-description">{{ task.description }}</p>
            <div class="button-group">
                <a href="/task/{{ task.id }}/delete">
                    <button class="task-button delete-button">Delete</button>
                </a>
                <a href="/task/{{ task.id }}/edit">
                    <button class="task-button edit-button">Edit</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
